.tuote {
    width: 90%;
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #171717;
    border-radius: 6px;
}

.tuote_tiedot {
    display: flex;
}

.tuote_vasen {
    display: table-column;
    flex: 0.6;
}

.img_vasen {
    margin: 1rem;
    flex: 0.6;
}

img {
    max-width: 600px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.vasen_info {
    margin: 1rem;
    flex: 0.4;
    background: #fff;
    height: fit-content;
    font-size: 0.9rem;
}

.vasen_name {
    font-weight: bold;
    font-size: 1.3rem;
}

.vasen_info > p, 
.oikea_info > ul > li {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.vasen_info > p:last-child,
.oikea_info > p:last-child {
    border: none;
}

.tuote_oikea {
    flex: 0.8;
}

.oikea_info {
    min-width: 250px;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.oikea_info p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.oikea_info p > button {
    grid-column: 1/-1;
    padding: 10px 16px;
    background-color: #171717;
    color: #f4f4f4;
    border: 1px #171717;
    cursor: pointer;
}

.oikea_info select {
    padding: 10px 16px;
}

@media (max-width: 960px) {
    .tuote {
        flex-direction: column;
    }

    .tuote_tiedot {
        flex-direction: column;
    }

    img {
        max-width: 500px;
    }

    .tuote_vasen {
        flex-direction: column;
        flex: 1;
    }

    .vasen_image {
        flex: 1;
    }

    .vasen_info {
        flex: 1;
    }

    .tuote_oikea {
        flex: 1;
        padding: 1rem;
    }

    .oikea_info {
        width: 100%;
        margin: 0;
    }


}

@media (max-width: 760px) {
    img {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    img {
        max-width: 300px;
    }
}